.grid-container {
  display: grid;

  grid-template-areas:
    "home home signout"
    "sidebar content content"
    "spaces spaces spaces";

  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 1fr auto;

  @media (width >= 768px) {
    grid-template-areas:
      "home home spaces signout"
      "sidebar content content content";
  }

  .home {
    grid-area: home;
  }

  .signout {
    grid-area: signout;
  }

  .spaces {
    grid-area: spaces;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .content {
    grid-area: content;
  }
}
