/* @import "@repo/ui/styles.css"; */
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer docs {
  :root {
    --space: var(--sl-color-accent);
  }

  :root {
    --mix-bg: black;
    --mix-fg: white;
  }

  :root[data-theme='dark'] {
    --mix-bg: white;
    --mix-fg: black;
  }
}