import { App, ProvideAppContext } from "@coat-rack/sdk" import { Button } from
"@coat-rack/ui/components/button" import "./styles.css" export const
{{pascalCase name}}: App = { /** * The Entrypoint for the app */ Entry:
({context}) => { return (
<ProvideAppContext {...context}>
  <h1 className="bg-red-500">Hello {{name}}</h1>
  <Button>Click Me</Button>
</ProvideAppContext>
) }, } export default
{{pascalCase name}}