@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-title: "Pixelify Sans";
    --font-sans: "Pixelify Sans";

    --space: hsl(0, 0%, 50%);

    --mix-bg: black;
    --mix-fg: white;

    --radius: 0rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --mix-bg: white;
      --mix-fg: black;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
